@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  font-family: liberation-sans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
