<div class="section-simple">
  <app-title [title]="sectionSimple?.title"></app-title>
  <div class="section-simple__row" *ngFor="let row of sectionSimple?.rows || []; trackBy: trackByFn">
    <div class="section-simple__column1">{{ row?.title }}</div>
    <div class="section-simple__column2 ellipsis">{{ row?.value }}</div>
  </div>
</div>
