@import 'mixins';
@import 'variables';

.section-skills {
  &__logos {
    margin-left: 0;

    @media (min-width: $breakpoint-l) {
      margin-left: $width-column1;
    }
  }

  &__logo {
    max-height: 40px;
    max-width: 100%;
    padding: 5px;
  }
}
