<div class="section-skills">
  <app-title [title]="sectionSkills?.title"></app-title>
  <div class="section-skills__logos">
    <img
      *ngFor="let logo of sectionSkills?.skills || []; trackBy: trackByFn"
      class="section-skills__logo"
      [src]="logo"
      [alt]="logo"
    />
  </div>
</div>
