@import 'mixins';
@import 'variables';

$height-avatar: 250px;

.section-header {
  min-height: $height-avatar;
  position: relative;

  &__avatar {
    display: block;
    margin: 0 auto;
    max-height: $height-avatar;
    max-width: 100%;

    @media (min-width: $breakpoint-m) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__row {
    @include row;
  }

  &__column1 {
    @include column1;
  }
}
