<div class="section-header">
  <app-title [title]="sectionHeader?.title"></app-title>
  <img class="section-header__avatar" [src]="sectionHeader?.avatar" alt="photo" />
  <div class="section-header__row" *ngFor="let row of sectionHeader?.rows || []; trackBy: trackByFn">
    <div class="section-header__column1">{{ row?.title }}</div>
    <div class="section-header__column2 ellipsis" [innerHTML]="row?.value"></div>
  </div>
</div>
