<div class="section-range">
  <app-title [title]="sectionRange?.title"></app-title>
  <div class="section-range__row" *ngFor="let dataRange of sectionRange?.rows || []; trackBy: trackByFn">
    <div class="section-range__column1">{{ dataRange | rangeInterval }}</div>
    <div class="section-range__column2">
      <div *ngFor="let row of dataRange?.activities || []; trackBy: trackByFnActivity">{{ row }}</div>
    </div>
  </div>
</div>
