<div class="cv">
  <div class="cv__title">{{ cv?.title }}</div>
  <div class="cv__section">
    <ng-container *ngFor="let section of cv?.sections || []; trackBy: trackByFn" [ngSwitch]="section.type">
      <app-section-header *ngSwitchCase="'section_header'" [sectionHeader]="section"></app-section-header>
      <app-section-range *ngSwitchCase="'section_range'" [sectionRange]="section"></app-section-range>
      <app-section-simple *ngSwitchCase="'section_simple'" [sectionSimple]="section"></app-section-simple>
      <app-section-skills *ngSwitchCase="'section_skills'" [sectionSkills]="section"></app-section-skills>
    </ng-container>
  </div>
  <div class="cv__footer">{{ footer }}</div>
</div>
