@import 'variables';

.cv {
  display: flex;
  flex-direction: column;

  &__title {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: center;
    padding: 10px 0 20px;
  }

  &__section {
    position: relative;

    &:after {
      border-left: 1px dotted #777;
      bottom: 0;
      content: ' ';
      display: none;
      left: $width-column1;
      position: absolute;
      top: 0;
    
      @media (min-width: $breakpoint-l) {
        display: block;
      }
    }
  }

  &__footer {
    padding: $space;
  }
}
