@import 'variables';

@mixin column1 {
  font-weight: 700;
  padding-right: 15px;
  text-align: left;
  width: $width-column1;

  @media (min-width: $breakpoint-l) {
    font-weight: 400;
    text-align: right;
  }
}

@mixin row {
  display: flex;
  flex-direction: column;
  padding: 5px $space;

  @media (min-width: $breakpoint-l) {
    flex-direction: row;
  }
}
